@charset "UTF-8";
html {
  scroll-padding-top: 80px; /* ヘッダーの高さ */
}

a {
  display: inline-block;
}

.mv {
  display: flex;
  margin-bottom: 120px;
}
.mv img {
  width: 33.3333333333%;
}

.wrap {
  width: 1020px;
  margin: 0 auto;
  padding-bottom: 120px;
}

main {
  margin-top: 60px;
}

[data-fadeIn] {
  opacity: 0;
  transition: all 1.6s;
  transform: translateY(150px);
}

[data-fadeIn].is_over {
  opacity: 1;
  transform: translateY(0);
}

.table_of_contents {
  margin-bottom: 128px;
}
.table_of_contents .explanation_text {
  width: 80%;
  margin: 0 auto 64px;
}

.section_title {
  font-size: 34px;
  text-align: center;
}
.section_title_sub {
  font-size: 12px;
  text-align: center;
  margin-bottom: 28px;
}

.menu {
  display: flex;
}

.btn {
  position: relative;
  background-color: #cfcfcf;
  border-radius: 3px;
  box-shadow: 0 2px 3px #1f1f1f;
}
.btn_jump {
  margin-right: 32px;
  width: calc(100% - 64px);
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
}
.btn_jump:last-child {
  margin-right: 0;
}
.btn_arrow {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
.btn_arrow_back {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50px;
}
.btn_arrow_drop {
  display: inline-block;
  background-color: #000;
  width: 12px;
  height: 3px;
  border-radius: 50px;
}
.btn_arrow_drop:first-child {
  transform: translate(5px, -30px) rotate(45deg);
}
.btn_arrow_drop:last-child {
  transform: translate(-4px, -30px) rotate(-45deg);
}

.arrow {
  display: inline-block;
}

.cuisine {
  margin-bottom: 120px;
}
.cuisine_img {
  display: flex;
  justify-content: space-between;
}
.cuisine_img img {
  height: 378px;
}

.source {
  text-align: right;
  margin-bottom: 64px;
}
.source a {
  color: #00f;
  text-decoration: underline;
}

.reason {
  display: flex;
  margin-bottom: 64px;
  justify-content: space-between;
}
.reason:nth-child(even) {
  flex-direction: row-reverse;
}
.reason:last-child {
  margin-bottom: 0;
}
.reason_img img {
  width: 100%;
  height: 288px;
}
.reason_text {
  position: relative;
  width: 500px;
}
.reason_text_number {
  font-size: 24px;
  margin-bottom: 12px;
}
.reason_text #num3 {
  font-size: 56px;
}
.reason_text .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.reason_text .btn_arrow_next {
  display: inline-block;
  background-color: #000;
  width: 8px;
  height: 3px;
  border-radius: 50px;
}
.reason_text .btn_arrow_next:first-child {
  transform: translate(1px, -24px) rotate(45deg);
}
.reason_text .btn_arrow_next:last-child {
  transform: translate(1px, -69px) rotate(-45deg);
}
.reason_text .btn_arrow_back {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50px;
}

.arrange_list {
  display: flex;
}

.recipe {
  width: 33.3333333333%;
  margin-right: 12px;
  background-color: #ededed;
}
.recipe_img img {
  width: 100%;
}
.recipe_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 300px;
}
.recipe:last-child {
  margin-right: 0;
}
.recipe_name {
  font-size: 24px;
}
.recipe .explanation_text {
  padding: 6px;
  text-align: left;
}
.recipe .explanation_text a {
  color: #00f;
  text-decoration: underline;
}
.recipe .btn {
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 10px;
}
.recipe .btn_arrow_next {
  display: inline-block;
  background-color: #000;
  width: 8px;
  height: 3px;
  border-radius: 50px;
}
.recipe .btn_arrow_next:first-child {
  transform: translate(1px, -24px) rotate(45deg);
}
.recipe .btn_arrow_next:last-child {
  transform: translate(1px, -69px) rotate(-45deg);
}
.recipe .btn_arrow_back {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50px;
}

@media screen and (max-width: 1040px) {
  .wrap {
    width: 100%;
    padding: 0 20px;
  }
  .menu {
    flex-direction: column;
  }
  .btn_jump {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .btn_jump:last-child {
    margin-bottom: 0;
  }
  .cuisine_img img {
    width: 47%;
    height: 30%;
  }
  .reason {
    flex-direction: column;
  }
  .reason:nth-of-type(even) {
    flex-direction: column;
  }
  .reason_text {
    width: auto;
    margin-bottom: 60px;
  }
  .reason_text .btn_link {
    width: 300px;
    right: 50%;
    transform: translate(50%, 180%);
  }
  .reason:last-child {
    margin-bottom: 120px;
  }
  .reason_img {
    margin: 0 auto;
  }
  .reason_img img {
    width: 40vw;
    height: auto;
  }
  .arrange {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    margin-bottom: 16px;
  }
  .btn_jump {
    width: auto;
    margin-right: 0;
  }
  .btn_jump:last-child {
    margin-bottom: 0;
  }
  .cuisine_img {
    flex-direction: column;
    align-items: center;
  }
  .cuisine_img img:first-child {
    margin-bottom: 24px;
  }
  .table_of_contents, .cuisine {
    margin-bottom: 64px;
  }
  .reason_text {
    width: auto;
  }
  .reason_text #num3 {
    font-size: 48px;
  }
  .arrange_list {
    flex-direction: column;
  }
  .recipe {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .recipe_inner {
    height: auto;
  }
}
.header {
  position: fixed;
  background-color: #61daff;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 10;
}
.header_wrap {
  width: 1020px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_title {
  font-size: 28px;
  color: #fdfdfd;
}
.header_titles {
  display: flex;
}
.header_title_sub {
  color: #fdfdfd;
  font-size: 18px;
  transform: translateY(35%);
}

.other {
  color: #fdfdfd;
  align-items: center;
  font-size: 22px;
}
.other a {
  margin-right: 16px;
}
.other a:last-child {
  margin-right: 0;
}
.other_menu {
  display: none;
}
.other_trigger {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
  width: 30px;
  height: 20px;
  z-index: 100;
  display: none;
}
.other_trigger span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fdfdfd;
}
.other_trigger span:nth-of-type(1) {
  top: 0;
}
.other_trigger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.other_trigger span:nth-of-type(3) {
  bottom: 0;
}
.other_trigger.is_active span:nth-of-type(1) {
  transform: translateY(9px) rotate(-315deg);
}
.other_trigger.is_active span:nth-of-type(2) {
  opacity: 0;
}
.other_trigger.is_active span:nth-of-type(3) {
  transform: translateY(-9px) rotate(315deg);
}

.footer {
  background-color: #61daff;
  width: 100%;
  height: 128px;
  font-size: 24px;
  color: #fdfdfd;
}
.footer_wrap {
  width: 1020px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1040px) {
  .header {
    width: 100vw;
  }
  .header_wrap {
    width: 100%;
    padding: 0 20px;
  }
  .header_title_other {
    font-size: 20px;
    line-height: 80px;
    color: #fdfdfd;
  }
  .header_title_other_sub {
    font-size: 15px;
    color: #fdfdfd;
    line-height: 86px;
  }
  .footer {
    width: 100vw;
  }
  .footer_wrap {
    width: 100%;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .header_title {
    font-size: 20px;
  }
  .other {
    position: fixed;
    align-items: start;
    top: 0;
    left: 100%;
    width: 70%;
    background-color: rgb(255, 153, 0);
    transition: all 0.4s;
  }
  .other.is_active {
    left: 30%;
  }
  .other_cover {
    position: fixed;
    width: 0;
    height: 60px;
    top: 0;
    left: 100%;
    background-color: rgba(207, 207, 207, 0.95);
    transition: all 0.4s;
  }
  .other_cover.is_active {
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .other_menu {
    display: block;
  }
  .other_nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #000;
    text-align: center;
    align-items: center;
  }
  .other_menu_logo {
    display: flex;
    height: 60px;
    border-bottom: 1px solid #000;
  }
  .other_trigger {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */